DAILY_API_KEY=
CARTESIA_API_KEY=
CARTESIA_VOICE_ID=
OPENAI_API_KEY=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
FLY_API_KEY=
FLY_APP_NAME='pipecat-bot-28112024'
RUN_AS_PROCESS=True
CRED_PATH=firebase_credentials.json
